In [1]:
import pandas as pd
import zipfile 
import glob, os
import numpy as np
import pylab as pl
import json
import urllib.request
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
ll84_2011 = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law_84__2011_.csv')
ll84_2012 = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law_84__2012_.csv')
ll84_2013 = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law_84__2013_.csv')
ll84_2014 = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law__2014_.csv')

In [13]:
print(ll84_2011.columns)
print(ll84_2012.columns)
print(ll84_2013.columns)
print(ll84_2014.columns)

Index(['BBL', 'Street Number', 'Street Name', 'Borough', 'Zip',
       'Benchmarking Submission', 'Entry Number', 'Site EUI',
       'Weather Normalized Source EUI', 'Water per Square Foot',
       'ENERGY STAR Score', 'GHG', 'Reported Building Square Footage',
       'Reported Facility Type', 'Number of Buildings', 'Reported BINs'],
      dtype='object')
Index(['BBL', 'Street Number', 'Street Name', 'Borough', 'Zip',
       'Benchmarking Submission', 'Entry Number', 'Site EUI(kBtu/ft2)',
       'Weather Normalized Source EUI(kBtu/ft2)',
       'Indoor Water Intensity (All Water Sources)(gal/ft2)',
       'Reported Water Method', 'ENERGY STAR Score',
       'Total GHG Emissions(MtCO2e)',
       'Property Floor Area (Buildngs and Parking)(ft2)',
       'Primary Property Type - Self Selected', 'Number of Buildings',
       'Reported BINs'],
      dtype='object')
Index(['Record Number', 'NYC Borough, Block, and Lot (BBL)',
       'Co-reported BBL Status', 'BBLs Co-reported',
       'Reported NYC Building Identificaiton Numbers (BINs)', 'Street Number',
       'Street Name', 'Borough', 'Zip Code',
       'DOF Benchmarking Submission Status', 'Site EUI(kBtu/ft2)',
       'Weather Normalized Site EUI(kBtu/ft2)', 'Source EUI(kBtu/ft2)',
       'Weather Normalized Source EUI(kBtu/ft2)',
       'Municipally Supplied Potable Water - Indoor Intensity (gal/ft²)',
       'Automatic Water Benchmarking Eligible', 'Reported Water Method',
       'ENERGY STAR Score', 'Total GHG Emissions(MtCO2e)',
       'Direct GHG Emissions(MtCO2e)', 'Indirect GHG Emissions(MtCO2e)',
       'Reported Property Floor Area (Building(s)) (ft²)',
       'DOF Property Floor Area (Buildngs and Parking)(ft2)',
       'Primary Property Type - Self Selected', 'DOF Number of Buildings'],
      dtype='object')
Index(['Record Number', 'NYC Borough, Block, and Lot (BBL)',
       'Co-reported BBL Status', 'BBLs Co-reported',
       'Reported NYC Building Identification Numbers (BINs)', 'Street Number',
       'Street Name', 'Borough', 'Zip Code',
       'BBL on the Covered Buildings List',
       'DOF Benchmarking Submission Status', 'Site EUI(kBtu/ft2)',
       'Weather Normalized Site EUI(kBtu/ft2)', 'Source EUI(kBtu/ft2)',
       'Weather Normalized Source EUI(kBtu/ft2)',
       'Municipally Supplied Potable Water - Indoor Intensity (gal/ft²)',
       'Automatic Water Benchmarking Eligible', 'Reported Water Method',
       'ENERGY STAR Score', 'Total GHG Emissions(MtCO2e)',
       'Direct GHG Emissions(MtCO2e)', 'Indirect GHG Emissions(MtCO2e)',
       'Reported Property Floor Area (Building(s)) (ft²)',
       'DOF Property Floor Area (Buildngs and Parking)(ft2)',
       'Primary Property Type - Self Selected', 'DOF Number of Buildings'],
      dtype='object')

In [29]:
print("******2011******")
print(len(ll84_2011))
print(len(ll84_2011[ ~isnan(ll84_2011['Site EUI']) ] ))


print("******2012******")
print(len(ll84_2012))
print(len(ll84_2012[ ~isnan(ll84_2012['Site EUI(kBtu/ft2)']) ] ))

print("******2013******")
print(len(ll84_2013))
print(len(ll84_2013[ ll84_2013['Site EUI(kBtu/ft2)'] != nan ] ))

print("******2014******")
print(len(ll84_2014))
print(len(ll84_2014[ ll84_2014['Site EUI(kBtu/ft2)'] != nan ] ))

******2011******
4081
2319
******2012******
14112
11074
******2013******
16170
16170
******2014******
13974
13974

In [34]:
ll84_2011[ ~isnan(ll84_2011['Site EUI']) ]['Site EUI']

,BBL,Street Number,Street Name,Borough,Zip,Benchmarking Submission,Entry Number,Site EUI,Weather Normalized Source EUI,Water per Square Foot,ENERGY STAR Score,GHG,Reported Building Square Footage,Reported Facility Type,Number of Buildings,Reported BINs
0,1000050010,115,BROAD STREET,MANHATTAN,10004,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000090001,34,WHITEHALL STREET,MANHATTAN,10004,Yes,1518,157.9,437.4,NaN,27,12077.53,852840,Office,1,1000018
2,1000090014,17,STATE STREET,MANHATTAN,10004,Yes,312,91.5,278.7,NaN,61,4817.62,574105,Office,1,1000020
3,1000090029,24,WHITEHALL STREET,MANHATTAN,10004,Yes,52,137.2,306.6,6.66,41,10190.38,859807,Office,1,1000021
4,1000100014,33,WHITEHALL STREET,MANHATTAN,10004,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000100016,90,BROAD STREET,MANHATTAN,10004,Yes,602,53.5,153.8,NaN,76,1846.50,380788,Office,1,1-00010-0016
6,1000100023,1,WHITEHALL STREET,MANHATTAN,10004,Yes,48,113.1,252.1,12.96,58,3218.11,329991,Office,1,1000027
7,1000110021,80,BROAD STREET,MANHATTAN,10004,Yes,2531,77.2,194.6,NaN,69,2719.82,400000,Office,1,1000038
8,1000130001,1,BROADWAY,MANHATTAN,10004,Yes,1925,NaN,NaN,NaN,NaN,NaN,182899,Office,1,NaN
9,1000130005,11,BROADWAY,MANHATTAN,10004,Yes,275,100.9,237.2,NaN,72,3717.62,423348,Office,1,BIN# 1000044
10,1000130027,25,BROADWAY,MANHATTAN,10004,Yes,2538,132.8,373.7,NaN,28,9667.46,807690,Office,1,1000045
11,1000160010,18,1 PLACE,MANHATTAN,10280,Yes,2542,128.3,428.4,NaN,NaN,1374.17,114100,Entertainment/Culture,1,1084594
12,1000160120,200,LIBERTY STREET,MANHATTAN,10281,Yes,22,117.3,257.9,10.50,86,14825.93,1485610,Office,1,NaN
13,1000160125,225,LIBERTY STREET,MANHATTAN,10280,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1000160140,200,VESEY STREET,MANHATTAN,10281,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1000160150,250,VESEY PLACE,MANHATTAN,10282,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1000160220,450,NORTH END AVENUE,MANHATTAN,10282,Yes,589,88.2,177.8,NaN,NaN,1167.31,188216,Multifamily Housing,1,1085459
17,1000160225,1,NORTH END AVENUE,MANHATTAN,10281,Yes,272,144.6,356.6,NaN,82,7881.54,622439,Office,1,1085502
18,1000160260,200,WEST STREET,MANHATTAN,10282,Yes,516,118.9,325.0,NaN,NaN,22758.57,2137781,Bank/Financial Institution,1,1087239
19,1000170045,25,WEST STREET,MANHATTAN,10006,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1000190013,42,TRINITY PLACE,MANHATTAN,10006,Yes,2140,81.7,237.0,NaN,31,433.97,62089,Retail,1,1000797
21,1000200001,29,BROADWAY,MANHATTAN,10006,Yes,198,326.2,478.0,NaN,7,7832.79,297419,Office,1,1000802
22,1000200004,39,BROADWAY,MANHATTAN,10006,Yes,367,68.2,189.3,NaN,79,2744.45,447452,Office,1,1000803
23,1000200004,39,BROADWAY,MANHATTAN,10006,Yes,2034,18454.2,24035.8,NaN,1,651919.31,447452,Office,1,NaN
24,1000200009,45,BROADWAY,MANHATTAN,10006,Yes,368,89.0,251.5,NaN,57,2962.47,368315,Office,1,1000804
25,1000200009,45,BROADWAY,MANHATTAN,10006,Yes,1232,17341.3,22455.2,NaN,1,554108.02,404448,Office,1,1000804
26,1000200016,55,BROADWAY,MANHATTAN,10006,Yes,138,86.7,248.7,NaN,72,2840.03,363378,Office,1,1000807
27,1000210001,61,BROADWAY,MANHATTAN,10006,Yes,137,62.7,185.7,NaN,88,3712.58,650000,Office,1,1000808
28,1000210004,65,BROADWAY,MANHATTAN,10006,Yes,1146,55720.0,66743.3,NaN,1,1459636.96,331684,Office,1,1000809
29,1000220013,26,BROADWAY,MANHATTAN,10004,Yes,2329,89.2,183.4,NaN,67,5248.91,686571,Office,1,1000811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051,5039690001,2660,HYLAN BOULEVARD,STATEN ISLAND,10306,Yes,158,58.2,168.3,18.89,68,508.11,101445,Retail,1,5055375
4052,5039690031,107,MILL ROAD,STATEN ISLAND,10306,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4053,5039830013,2712,HYLAN BOULEVARD,STATEN ISLAND,10306,Yes,1709,NaN,NaN,NaN,NaN,NaN,94149,Retail,3,5107585
4054,5039830130,2754,HYLAN BOULEVARD,STATEN ISLAND,10306,Yes,1710,199.6,566.5,NaN,81,1025.03,60340,Supermarket/Grocery,1,5107591
4055,5042570001,2900,AMBOY ROAD,STATEN ISLAND,10306,Yes,1346,68.8,106.2,NaN,NaN,715.46,136925,Education,1,2813309
4056,5042790001,200,PENN AVENUE,STATEN ISLAND,10306,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4057,5046450415,100,GREAVES LANE,STATEN ISLAND,10308,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4058,5052360031,3939,RICHMOND AVENUE,STATEN ISLAND,10312,Yes,893,181.9,433.3,NaN,NaN,640.67,46020,Public Assembly,1,5128445
4059,5054970007,4343,AMBOY ROAD,STATEN ISLAND,10312,Yes,2648,89.5,294.6,NaN,30,499.86,60090,Retail,1,5073190
4060,5055330058,3231,RICHMOND AVENUE,STATEN ISLAND,10312,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4061,5059000036,1527,ARTHUR KILL ROAD,STATEN ISLAND,10312,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4062,5059650084,7A,ARDEN AVENUE,STATEN ISLAND,10309,Yes,2001,NaN,NaN,NaN,NaN,NaN,NaN,Self-Storage,1,5153794
4063,5060250035,230,ARDEN AVENUE,STATEN ISLAND,10312,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4064,5061690200,1540,ARTHUR KILL ROAD,STATEN ISLAND,10312,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4065,5063320006,5371,AMBOY ROAD,STATEN ISLAND,10312,Yes,1969,92.0,140.4,NaN,69,384.94,60050,K-12 School,1,5081445
4066,5064750001,5150,HYLAN BOULEVARD,STATEN ISLAND,10312,Yes,1341,76.5,128.7,NaN,NaN,412.83,75000,Other,1,5107747
4067,5066700001,375,SEGUINE AVENUE,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4068,5070670117,275,VETERANS ROAD WEST,STATEN ISLAND,10309,Yes,1514,15.8,41.4,NaN,62,59.97,46830,Warehouse (Unrefrigerated),1,NaN
4069,5071000028,2730,ARTHUR KILL ROAD,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4070,5071050520,2790,ARTHUR KILL ROAD,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4071,5071870001,2911,ARTHUR KILL ROAD,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4072,5074460100,2720,VETERANS ROAD WEST,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4073,5074690200,2750,VETERANS ROAD WEST,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4074,5074810001,2900,VETERANS ROAD WEST,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4075,5075110001,2935-2965,VETERANS ROAD WEST,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4076,5075770003,200,BOSCOMBE AVENUE,STATEN ISLAND,10309,Yes,1949,58.7,146.6,NaN,11,283.17,61673,House of Worship,1,BIN# 5118310
4077,5077020001,6420,AMBOY ROAD,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4078,5079710250,236,RICHMOND VALLEY ROAD,STATEN ISLAND,10309,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4079,5079910100,99,ELLIS STREET,STATEN ISLAND,10307,Yes,2027,42.8,93.5,NaN,NaN,160.15,51000,Warehouse (Unrefrigerated),1,5088569;5088564
4080,5080080134,250,PAGE AVENUE,STATEN ISLAND,10307,No DOF Record as of 08/01/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
len(unique(ll84_2011[ ~isnan(ll84_2011['Site EUI']) ]['Reported BINs']))

TypeError: unorderable types: float() > str()